<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a href="#" class="navbar-barand"><i class="fas fa-store text-warning fa-2x"></i></a>
    <!-- <button type="button" class="navbar-toggler bg-light" data-toggle="collapse"
    data-target="#nav" name="button"><span class="navbar-toggler-icon"></span></button> -->
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDarkDropdown">
      <ul class="navbar-nav ml-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light text-uppercase font-weight-bold px-3" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Category 1</a></li>
            <li><a class="dropdown-item" href="#">Category 2</a></li>
            <li><a class="dropdown-item" href="#">Category 3</a></li>
            <li><a class="dropdown-item" href="#">Category 4</a></li>
            <li><a class="dropdown-item" href="#">Category 5</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="" title="">Contact</a></li>
        <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="" title="">About</a></li>
      </ul>
      <form class="d-flex">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
          <button class="btn btn-warning" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
        </div>
      </form>
    </div>
  </div>
</nav>
